<div id="<%= dom_id bookcase %>">
  <p>
    <strong>Name:</strong>
    <%= bookcase.name %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= bookcase.status %>
  </p>

  <p>
    <strong>Virtual:</strong>
    <%= bookcase.virtual %>
  </p>

</div>
